# Version de Python attendue (à gérer côté venv, pas par pip)
# python==3.14.3

# NumPy / SciPy stack
numpy==2.4.2
scipy==1.17.1
pandas==3.0.1
scikit-learn==1.8.0
threadpoolctl==3.6.0
joblib==1.5.3

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.6.0

# Qt / GUI 
pyqt6==6.10.2
pyqt6-sip==13.11.0

# Miscellaneous
packaging==25.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
six==1.17.0

# Time data / timezones
tzdata==2026.1  # remplace python-tzdata conda, version récente PyPI

# Pillow / images
Pillow==12.1.1

# Scietific stack Intel (PyPI)
mkl==2025.0.0
mkl-service==2.5.2
intel-openmp==2025.0.0
tbb==2022.3.0

# Geospatial
geopandas==1.1.3
pyproj==3.7.2
shapely==2.1.2
pyogrio==0.12.1
xyzservices==2025.11.0

# Maps / webmap
folium==0.20.0
branca==0.8.2

# HTTP / network
requests==2.32.5
urllib3==2.6.3
charset-normalizer==3.4.6
idna==3.11
certifi==2026.2.25

# Templating
Jinja2==3.1.6
MarkupSafe==3.0.3

# Web / server
tornado==6.5.4

# Divers
narwhals==2.7.0
setuptools==80.10.2
wheel==0.46.3
